
<div class="auth">
    <input class="auth_login" name="login" type="text" placeholder="Логин" maxlength="150" required>
    <input class="auth_pass" name="password" type="password" placeholder="Пароль" required minlength="8">
    <button type="submit" onclick="auth()">Войти</button>
    <a href="/registration">Регистрация</a>
</div>