
<footer>
    <div class="footer_content">
        <div class="phones">
            <div>Телефоны</div>
            <div style="margin-top: 20px">+375 33 333-33-33<br>
                +375 44 444-44-44<br>
                +375 25 255-25-25</div>
        </div>
        <div class="company_info">
            Общество с ограниченной ответственностью "Компьютерный интернет-магазин", 222222 г.Минск, пр.
            Дзержинского, 15, пом. 852
            Свидетельство о регистрации №19124123, выдано Минским Горисполкомом.
        </div>
    </div>
</footer>