
<header>
    <div class="main_header">
        <div class="logo"><a href="/"><img src="/site-images/logo.jpg" alt=""></a></div>
        <div class="header_profile">
            {{#if isUser}}
            <div class="basket_block"><a href="/user/shoppingCart"><img src="/site-images/basket.png" alt=""></a></div>
            {{/if}}
            <div class="profile_block"><a href="/auth"><img src="/site-images/profile.png" alt=""></a></div>
        </div>
    </div>
    <nav>

        <ul>
            <li class="menu_item"><a href="/computers?page=1">Компьютеры</a></li>
            <li class="menu_item"><a href="/laptops?page=1">Ноутбуки</a></li>
            <li class="menu_item"><a href="/GPUs?page=1">Видеокарты</a></li>
            <li class="menu_item"><a href="/CPUs?page=1">Процессоры</a></li>
            <li class="menu_item"><a href="/RAMs?page=1">Оперативная память</a></li>
            <li class="menu_item"><a href="/storageDevices?page=1">Накопители</a></li>
        </ul>
    </nav>
</header>
