<div class="registration">
    <input class="reg_login" type="text" placeholder="Логин" maxlength="150">
    <input class="reg_pass" type="password" placeholder="Пароль">
    <input class="reg_confirmPass" type="password" placeholder="Подтверждение пароля">
    <input class="reg_name" type="text" placeholder="Имя">
    <input class="reg_surname" type="text" placeholder="Фамилия">
    <input class="reg_phone" type="tel" placeholder="Номер телефона">
    <input class="reg_email" type="email" placeholder="Email">
    <button type="submit" onclick="registration()">Зарегистрироваться</button>
</div>