main {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'JosefinSans-Medium', sans-serif;
}

main:nth-of-type(1){
    margin-top: 100px;
}

.product_list{
    margin-top: 70px;
}

.product_block {
    padding-bottom: 40px;
    margin-top: 40px;
    display: flex;
    border-bottom: 1px #cacaca solid;
    font-family: JosefinSans-Regular;
    font-size: 16px;
}

.info_product {
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img_product>img {
    max-width: 250px;
    max-height: 150px;
    align-items: center;
}

.img_product {
    display: flex;
    align-items: center;
    min-height: 250px;
    min-width: 250px;
    max-width: 250px;
}

.specifications {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.specifications > div {
    margin-left: 20px;
    margin-top: 10px;
}
.specifications > div:first-of-type {
    margin-left: 0px;
}

.in_basket, .del_product, .newOrders {
    height: 35px;
    width: 105px;
    border: 0;
    border-radius: 6px;
    background-color: #44abff;
    color: white;
    font-size: 14px;
}

.in_basket:hover, .del_product:hover, .newOrders:hover {
    cursor: pointer;
    background-color: #098efc;
}


.text_header {
    text-align: center;
    color: #098efc
}

.pageBtns { 
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin: 70px auto;
}

.prev {}

.next {}

.prev:hover, .next:hover {
    cursor: pointer;
}